.background-nav {
	background-color: #0000ff;
	color: white;

}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.form {
	margin-top: 30px;
}